<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference='link_base'>
        
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference='link_01'>
        
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference='link_02'>
        
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference='link_11'>
        
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference='link_12'>
        
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference='link_21'>
        
        <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference='link_22'>
        
        <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference='link_31'>
        
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference='link_32'>
        
        <material>Gazebo/Green</material>
    </gazebo>


</robot>