<?xml version="1.0" encoding="utf-8"?>
<robot name="dual_arm_mg_left" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="gazebo.xacro"/>

  <link name="world"/>

  <link name="link_base">
    <inertial>
      <origin
        xyz="-6.1751E-17 0.040265 0.24367"
        rpy="0 0 0" />
      <mass
        value="3.3711" />
      <inertia
        ixx="0.023757"
        ixy="8.7804E-10"
        ixz="-7.8605E-19"
        iyy="0.024989"
        iyz="-4.3264E-18"
        izz="0.025822" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_base.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="world_base" type="fixed">
    <parent link="world"/>
    <child link="link_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="link_01">
    <inertial>
      <origin
        xyz="-7.9725E-06 1.8305E-06 -0.018327"
        rpy="0 0 0" />
      <mass
        value="0.10237" />
      <inertia
        ixx="3.1248E-05"
        ixy="-3.5816E-09"
        ixz="-4.2872E-08"
        iyy="3.1248E-05"
        iyz="-2.4917E-10"
        izz="5.035E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_01.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_01.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_01" type="fixed">
    <origin
      xyz="-0.224 0 0.4465"
      rpy="0 0 0" />
    <parent
      link="link_base" />
    <child
      link="link_01" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="link_11">
    <inertial>
      <origin
        xyz="0.18266 4.0216E-05 0.022592"
        rpy="0 0 0" />
      <mass
        value="0.23333" />
      <inertia
        ixx="7.5902E-05"
        ixy="4.6038E-09"
        ixz="3.0086E-07"
        iyy="0.00020275"
        iyz="8.3576E-09"
        izz="0.00021877" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_11.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_11" type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 3.1416" />
    <parent
      link="link_01" />
    <child
      link="link_11" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="100"
      velocity="1000" />
    <dynamics
      damping="0.05"
      friction="0" />
  </joint>

  <link name="link_21">
    <inertial>
      <origin
        xyz="0.18609 -4.7971E-05 -0.022546"
        rpy="0 0 0" />
      <mass
        value="0.22941" />
      <inertia
        ixx="7.4854E-05"
        ixy="-1.1043E-08"
        ixz="-7.4492E-07"
        iyy="0.00020059"
        iyz="-1.9149E-08"
        izz="0.00021668" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_21.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_21.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_21" type="revolute">
    <origin
      xyz="0.253 0 0.005"
      rpy="0 0 0" />
    <parent
      link="link_11" />
    <child
      link="link_21" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="100"
      velocity="1000" />
    <dynamics
      damping="0.05"
      friction="0" />
  </joint>

  <link name="link_31">
    <inertial>
      <origin
        xyz="0.051237 -4.4684E-08 0.022159"
        rpy="0 0 0" />
      <mass
        value="0.071538" />
      <inertia
        ixx="1.8609E-05"
        ixy="-1.8853E-11"
        ixz="-3.3532E-06"
        iyy="3.2633E-05"
        iyz="1.0681E-10"
        izz="3.2135E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_31.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find dual_arm_mg_left)/meshes/link_31.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_31" type="revolute">
    <origin
      xyz="0.253 0 -0.005"
      rpy="0 0 0" />
    <parent
      link="link_21" />
    <child
      link="link_31" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="100"
      velocity="1000" />
    <dynamics
      damping="0.05"
      friction="0" />
  </joint>

  <transmission name="tran11">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_11">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_21">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_31">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
  </transmission>
</robot>
