<launch>

    <!-- Launch Gazebo with the robot model -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"    value="$(find dual_arm_mg_left)/world/world.world"/>   <!-- Included Matlb-Gazebo-Plugin -->
        <arg name="paused"        value="true"/>
        <arg name="use_sim_time"  value="true"/>
        <arg name="gui"           value="true"/>
        <arg name="headless"      value="false"/>
        <arg name="debug"         value="false"/>
        <arg name="verbose"       value="true" />
    </include>

    <!-- Load the URDF into the ROS Parameter Server -->
    <!-- <param name="robot_description" textfile="$(find dual_arm_mg_left)/urdf/dual_arm_mg_left.urdf" /> -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find dual_arm_mg_left)/urdf/dual_arm_mg_left.xacro'"/>

    <!-- Spawn the robot model -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model dual_arm_mg_left -param robot_description
          
                -J joint_11 -1.57
                -J joint_21 0.0
                -J joint_31 0.0
                -J joint_12 0.0
                -J joint_22 0.0
                -J joint_32 0.0
                -unpause"/> 

    <!-- sudo gedit /opt/ros/noetic/lib/python3/dist-packages/roslaunch/nodeprocess.py  -->
    <!-- DEFAULT_TIMEOUT_SIGINT  = 15.0 #seconds
    DEFAULT_TIMEOUT_SIGTERM = 2.0 #seconds -->
</launch>
